h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5 !important;
}

img {
  display: block;
}
:root {
  --swiper-theme-color: #FFD153;
}
.text-comfortaa {
  font-family: 'Comfortaa', cursive !important;
}
.text-wendy {
  font-family: 'Wendy One', sans-serif !important;
}
