.gray-block {

  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  height: 495px;
  z-index: -2;
  background-color: #F7F9FD;
  border-radius: 0 0 0 300px;
  margin-bottom: 180px;

  @include media-breakpoint-up(md) {
    height: 470px;
  }

  h2 {
    margin-top: 180px;
  }
}

.price-header {
  padding-top: 48px;
  min-height: 382px;

  @include media-breakpoint-up(md) {
    padding-top: 92px;
  }
}

.header-bg {
  position: absolute;
  // width: 375px;
  // height: 495px;

  width: 425px;
  height: 561px;
  // width: 525px;
  // height: 693px;

  // width: 750px;
  // height: 990px;
  top: 0;
  right: 0;
  z-index: -1;
  background-image: url('/assets/images/banner_sm.svg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  @include media-breakpoint-up(xs) {
    width: 885px;
    height: 559px;
    background-image: url('/assets/images/banner.svg');
  }
}

.price-wall {
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

  padding: 0 20px;
  margin: 0 auto 24px auto;
  
  @include media-breakpoint-up(sm) {
    margin: 0 auto 48px auto;
    padding: 0 90px;
  }
}

.price-wall::-webkit-scrollbar {
  display: none;
}

.img-check {
  margin-right: 13px;
}

.accordion-button::after {
  background-image: url('/assets/images/icon_plus.svg');
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: url('/assets/images/icon_minus.svg');
}